/* Global Settings */
body{
    margin: 0px;
    font-family: Arial;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
}
p{
    margin-top: 0px;
}


/* Helper Classes */
.left{
    float: left;
}
.right{
    float: right;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.w-100{
    width: 100%;
}
.container{
    width: 1100px;
    margin: 0 auto;
}


/* Generic Css */
#header{}
#main-navigation{}
#main{}
#sidebar{}
#footer{}


/* Specific Css */